#page-loading {

  .contents {
    padding-top: 50px;
    text-align: center;

    .logo {
      img {
        height: 70px;
      }
    }

    .spinner {
      width: 300px !important;
      height: 300px !important;;
      fill: $color-primary !important;;
      margin: 50px auto;
    }
  }

}
