$color-primary: #005090;
$color-primary-light:#1070d0;
$color-primary-dark: #003050;

$app-bg-color: #f8f8f8;
$text-color: #333;
$text-color-inverse: #ddd;

$footer-height: 40px;
$footer-bgcolor: #444;


$color-link: $color-primary;
$color-link-active: $color-primary-light;
